extends layout.jade
block contenido
	section#services.banner(style="background-image: url('img/services.jpg')")
		h2.titles Services
		p
			| We provide services aimed at solving the needs of our customers
			br
			|  and improving their experience through new technologies.
	section#web.web-dev
		h2.titles Web Development
		p
			| We develop web applications focused on the solution of the needs of our clients, as well as develop multiplatform websites so that the users of our clients can access from any device to these.
		img(src='img/desarrollo-web2.png')
	section#mobile.mobile-apps
		h2.titles Mobile apps development  
		p
			| We develop mobile applications designed to improve the user experience and optimized to improve performance in mobile phones and to the taste of the customer.
		img(src='img/mobile-apps.png')
	section#software.software-dev
		h2.titles Software Development
		p
			| We develop customized software for any purpose in order to facilitate the processes that the client wants to systematize, always aiming at the improvement and security of your company or company
		img(src='img/software-dev.png')
	section#data.database
		h2.titles Database Management
		p
			| We structure and manage complex data bases related to any type of company, as well as develop and manage them for our clients by providing quality and organization in them.
		img(src='img/databases.png')

